<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body >
  {% for msg in messages %}
  {{ msg }}
  {% endfor %}
  <div class="container w-25">
    <div class="container shadow-lg rounded" style="background-color:#cd82fa; color:black;">
       <h2 class="fw-bold c-dark  d-flex justify-content-center p-2">Register</h2>
    </div>
     <div class="container shadow-lg p-3 mb-5  rounded " style="background-color:#d4c5e3;">

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter First Name" name="full_name" required>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Valid Email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
        </div>
        <div class="form-group">
          <label for="password1">Confirm Password</label>
          <input type="password" class="form-control" id="password1" placeholder="Confirm Password" name="cpassword" required>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-block d-flex justify-content-center text-light" style="background-color:#3b0260;" onclick="ShowAlert()">Register</button>
        </div>



    <div class="footer d-flex justify-content-center pt-4">
      <div class="row">
        <div class="col-0">
          <p> already have an account?</p>
        </div>
        <div class="col">
          <a href="{% url 'authapp:login'  %}" >login</a>
        </div>
      </div>



  </div>


  </form>
  </div>
  </div>
<script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>