{% extends 'admin_temp/base.html' %}
{% load static %}
{% block content %}

    <h1>Book Details</h1>
<br>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ book.image.url }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title fw-bold">{{book.title}}</h5>
                <h5 class="fw-bold ">{{book.author}}</h5>
                <h3>&#8377;{{ book.price }}</h3>
                <a href="{% url 'bookapp:admin_booklist' %}" class="btn btn-primary">Go Back</a>
              </div>
          </div>

{% endblock %}